
@import './fonts',
        './helpers';
       

        
html {
  box-sizing: border-box;
}

::-webkit-scrollbar{
  display: none;
}


*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}



h1{
  margin: 0;
  padding: 0;
}



body{
  overflow-x: hidden;
  background: lighten($brand_color,25)no-repeat fixed;
  color: $white_color;

  &.fixed{
    overflow: hidden;
  
  }
}


input{
  appearance: none;
}
