
@import './fonts',
        './helpers';
       

        
html {
  box-sizing: border-box;
}

::-webkit-scrollbar{
  display: none;
}


*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}



h1{
  margin: 0;
  padding: 0;
}



body{
  overflow-x: hidden;
  background: linear-gradient(4deg,rgb(51, 177, 246),rgb(66, 37, 75)) no-repeat fixed;
  color: $white_color;
}


input{
  appearance: none;
}
