.required{
    color: $brand_color  
}

.btn{
    cursor: pointer;
}


.container__flex--center--column{
    @include flex_center(column);
}

.container__flex--center--row{
    @include flex_center(row);
}


.gap-20{
    gap: 20px;
}


a.brand__link{
       
        color: $brand_color;
        border-bottom: 1px solid $white_color;
        font-weight: 600;
        width: fit-content;
       

        @media screen and (max-width:374px) {
            display: block;
            margin: auto;
        }
}


.flex-wrap{
    flex-wrap: wrap;
}

.mar-auto{
    margin: auto;
}


.pad-m{
    padding: 40px;
}

.pad-s{
    padding: 20px;
}


.absolute-top{
position: absolute;
top: 0;
} 

.z-200{
z-index: 200;
}

.back_gradient{
    background: $background_fixed;
}

.txt-bold{
    font-weight: bold;
}

.txt-center{
    text-align: center;
}

.mar-top-m{
    margin-top: 24px;
}

.underline{
    text-decoration: underline; 
}

.text-error{
    font-weight: bold;
    padding: 10px;
    color: red;
    background-color: aliceblue;
}


// .overflowx-hidden{
// overflow-x: hidden;
// }

// .overflowy-visible{
//     overflow-x: hidden;
//     overflow-y: scroll;
// }