.cta-btn{
    font-weight: bold;
    background-color: transparent;
    color: $white-color;
    padding:  10px;
    width: 40vw;
    max-width: 180px;    
    border: 1px solid $brand_color;
    cursor: pointer;
}