.cta-btn{
    appearance: none;
    font-weight: bold;
    background-color: darken($brand_color,10);
    color: $white-color;
    padding: 12px;
    width: 40vw;  
    border: 1px solid $white-color;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    max-width: 180px;

    &:hover{
        background-color: darken($brand_color,25);   
    }
}