.form{

    &.form__center--column{
        @include flex_center(column);
        gap: 40px;

        .row{
            @include flex_center(column);
                position: relative;

            .show-password{
                width: 30px;
                height: 30px;
                position: absolute;
                background-color: $white_color;
                top: 42%;
                background-image: url(/public/icons/view_off.svg);
                background-size: cover;
                background-position: center;
                right: 2px;
                cursor: pointer;

                &:active{
                    background-image: url(/public/icons/view.svg);
                }

               }

            label{
                align-self: baseline;
                color: $white_color;
            }

            input,select{
                height: 35px;
                width: 80vw;
                max-width: 500px;
                padding-left: 5px;
                border-radius: 4px;
               
                &:focus{
                    outline: 1px solid $brand_color;
                }
            }


        }

       
        
    }
}