.profile{

    &__userInfo{
        width: 100%;
       display: flex;
       justify-content: center;
       margin-top: 20px;
       gap: 20px;
        
       
       div{
        gap: 20px;
        display: flex;
        flex-direction: column;
       }
         
    }

    .link{
        display: block;
        width: fit-content;
        margin: 40px auto;
        text-decoration: underline;
        color: $brand_color;
        
        &:active{
            color: $brand_color;
        }
    }
}