.requests__container{
    display: grid;
    grid-template-columns:repeat(auto-fill, 320px);
    margin: auto;
   
    @media screen and (max-width:1400px) {
        width: 100vw;
        @include flex_center(row);
        flex-wrap: wrap;
    }

    &__showComments{
        width: 100vw;
        @include flex_center(row);
        flex-wrap: wrap;
    }
}

.request-card{
    margin: 20px;
    min-width: 280px;
    height: 340px;
    border: 1px solid white;
    position: relative;
    border-radius: 4px;
    background-color: #343c5262;
    padding: 10px;
    @include flex(column,baseline,space-between,23px);

   
  
//User info container
    &__user-info{
        @include flex(row,space-between,center,0);
        
        &__left-container{
            @include flex(row,left,center,16px)
        }
       
        &__slicedName{
            width: 34px;
            height: 34px;
            background-color: black;
            @include flex_center(row);
            border-radius: 50%;
            text-transform: capitalize;
        }

        &__name{
            text-transform: capitalize;
        }

        &__right-container{
            width: 35px;
            height: 35px;
        }

        &__role{
            display: block;
            width: inherit;
            height: inherit;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

//Shift-request container
    &__shift-request{
        @include flex(column,center,flex-start,3px); 
        margin-top: 9px;

        &__container{
            @include flex(column,center,flex-start,1px);
        }

        &__title{
            color: darken($white_color,25);
        }
    }

//Input-new-comment Container
    &__inpt-comment{

        textarea{
            appearance: none;
            border-radius: 4px;
            font-size: 13px;
            width: 100%;
            padding: 5px 0 0 5px;
           
            &::placeholder{
                padding: 5px;
            }
        }

        button{
            min-width: 150px;
            height: 30px;
            @include flex_center(row);
            margin: 10px auto;

            &:not(:active){
                background-color: $brand_color;
            }
        }
    }

//Comments-section(icon & total) Container
    &__comments{

        &__container{
            @include flex(row,right,center,0);
            position: relative;
            top: -6px;
           
        }

        &__icon{
            width: 29px;
            height: 27px;
            background-image: url(../../src/icons/comment.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__total{
            position: absolute;
            top: -12px;
            right: -3px;
            font-size: 12px;
        }
    }


    &__locked{
        border-color: $locked_request_color;
        box-shadow: 0 0 7px $locked_request_color;
    }


    
}