
/* @type color */
$brand_color:rgb(240, 7, 135);
$secondary_color:#56487A;
$white_color:#FFFFFF;
$light_gray-color:#CBD0D4;
$dark_gray_color:#7D7D7D; 
$locked_request_color:rgb(255, 208, 0);
$background_fixed:  linear-gradient(180deg,$secondary_color,lighten($brand_color,20)) no-repeat fixed;


/* @type header height */
$header_height: 60px;


/* @type Font_size */
$font_size :(
  "small": 16px,
  "medium":24px,
  "big":32px,
)!default;



$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;


