
/* @type color */
$brand_color:rgb(240, 7, 135);
$secondary_color:#3F4572;
$white_color:#FFFFFF;
$light_gray-color:#CBD0D4;
$dark_gray_color:#7D7D7D;


/* @type header height */
$header_height: 60px;


/* @type Font_size */
$font_size :(
  "small": 16px,
  "medium":24px,
  "big":32px,
)!default;



$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;


